.big-on-hover {
    transform: scale(1);
    transition: all .5s;
}

.big-on-hover:hover {
    transform: scale(1.3);
}

:root {
    --mantine-color-body: black !important;
}

html {
    scroll-behavior: smooth;
}

.snow {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    pointer-events: none;
}

.mantine-Carousel-control[data-inactive] {
    opacity: 0;
    cursor: default;
}
